.back-form{
    padding-left: 150px;
}

.rewards-option-div{
    border: 1px solid lightgray;
    width: 50%;
    display: flex;
    flex-direction: row;
    padding-left: 80px;
}

.rewards-option-subdiv1{
    width: 50%;
}