.project-index-ul {
    margin: 0 auto;
    text-align: center;
}

.project-id-picture{
    width: 400px;
    height: 240px;
}

.project-id-li{
    display: inline-block;
    vertical-align: top;
    flex-direction: column;
}

.project-id-a{
    display: flex;
    flex-direction: column;
    border: 1px solid #E8E8E8;
    padding: 0px;
    padding-bottom: 50px;
    width: 400px;
    text-decoration: none;
    color: black;
}

.project-id-outdiv{
    padding: 20px;
}

.project-explore-title{
    font-size: 20px;
    font-weight: 200;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}

.project-explore-title:hover{
    text-decoration: underline;
}

.project-explore-subtitle{
    font-size: 15px;
    font-weight: 200;
    color: #9B9E9E;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
    text-align: left;
}