.splash-category-div {
    // background: rgb(197, 132, 132);
    border-bottom: 1px solid #eee4e7e7;

}

.splash-category-ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-bottom: 10px;
    padding-top: 10px;
    // border-bottom: 1px solid rgb(165, 159, 159);
}

.splash-category-li {
    padding-left: 30px;
    position: relative;
    display: inline-block;
    outline: none;
}

.splash-category-a {
    font-size: 16px;
    color: #656969;
    font-weight: 100;
    text-decoration: none;
}

.splash-category-li:hover {
    text-decoration: underline;
}

.empty-div{
    width: 100%;
    background-color: khaki;
    padding: 10px;
}

.splash-feature-recommend {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
}

.splash-featured-div {
    width: 55%;
}

.project-feature-picture1{
    width: 90%;
    margin-right: 50px;
}


.splash-recommend-div{
    width: 45%;
}

.project-feature-picturelist{
    width: 50%;
    height: 100px;
}

.splash-projects-font{
    margin-top: 0;
    // padding-left: 50px;
}



