.splash-category-div {
    // background: rgb(197, 132, 132);
    border-bottom: 1px solid #eee4e7e7;

}

.splash-category-ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-bottom: 10px;
    padding-top: 10px;
    // border-bottom: 1px solid rgb(165, 159, 159);
}

.splash-category-li {
    padding-left: 30px;
    position: relative;
    display: inline-block;
    outline: none;
}

.splash-category-a {
    font-size: 16px;
    color: #656969;
    font-weight: 100;
    text-decoration: none;
}

.splash-category-li:hover {
    text-decoration: underline;
}

.empty-div{
    width: 100%;
    // background-color: khaki;
    padding: 10px;
}

.splash-feature-recommend {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    // border-bottom: 1px solid  #eee4e7e7;;
}

.splash-featured-div {
    width: 55%;
}

.project-feature-picture1{
    width: 90%;
    margin-right: 50px;
}


.splash-recommend-div{
    width: 45%;
}

.project-feature-picturelist{
    width: 250px;
    height: 150px;
}

.splash-projects-font{
    margin-top: 0;
    // padding-left: 50px;
    font-size: 15px;
    color: #656969;
    font-weight: 400;
    
}

.splash-projects-font-rec{
    margin-top: 0;
    padding-left: 50px;
    font-size: 15px;
    color: #656969;
    font-weight: 400;
}
.splash-projects-ul{
    list-style: none;
    padding-left: 50px
}

.splash-recommend-div{
    border-left: 1px solid #eee4e7e7;
}

.project-rec-li{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    border-bottom: 1px solid #eee4e7e7;
}

.project-rec-title-li{
    padding-left: 30px;
}



.fresh-div {
    display: flex;
    flex-direction: row;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}


.fresh-li{
    display: block;
    padding-right: 20px;
}


.splash-fresh-div{
    padding-top: 30px;
    border-top: 1px solid #eee4e7e7;
    overflow: auto;
    white-space: nowrap;
}

